  <nav class="navbar navbar-toggleable-md navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="https://res.cloudinary.com/disputebills/image/upload/v1462474206/blue-mark_cnzgry.png" alt="dispute Bills" style="width:34px;" >
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="inactive" routerLink="/form"><a><span class="glyphicon glyphicon-list-alt"></span> Form </a></li>
            <li class="inactive" routerLink="/form-detail"><a><span class="glyphicon glyphicon-list-alt"></span> Form-Detail </a></li>
            <li><a (click)="navigateToUser();sendData({});" ><span class="glyphicon glyphicon-user"></span> AddUser</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{loginData.user.first_name}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a (click)="logout()">Log-Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>


<div style="position:fixed;top:350px;z-index:10000;width:100%;" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"> <div style="margin-left:40%;"> <strong>Well Done !!! </strong> User successfully deleted </div></alert>
</div>
 <div class="page-header">
   <h3 style="padding-left:20px;color:#ff5722;"><span class="glyphicon glyphicon-list"> </span> Welcome {{ loginData.user.first_name}} {{ loginData.user.last_name}} !!!</h3>
  </div>
<div class="container">
     <div class="panel panel-primary">
     <div class="panel-heading">  Account Details
     </div>

         <div class="navbar navbar-toggleable-md navbar-default" >
                                <form class="navbar-form" role="search">
                                    <div  class="navbar-left" style="padding-right:20px" (click)="sort('first_name')"><a class="curs"> Fisrt Name</a>
                         <span class="glyphicon sort-icon" *ngIf="key =='first_name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                     </div>
                     <div (click)="sort('last_name')"  class="navbar-left"  style="padding-right:10px"><a class="curs"> Last Name</a>
                         <span class="glyphicon sort-icon" *ngIf="key =='last_name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                     </div>
                                    <div class="input-group navbar-right" style="padding-right:10px">
                                                <input type="text" class="form-control" placeholder="Search" (keyup.enter)="getSearchData(inputName.value);" #inputName >
                                                <span class="input-group-btn">
                                                        <button type="reset" class="btn btn-default">
                                                                <span class="glyphicon glyphicon-remove" (click)="getSearchData('');inputName.value=''">
                                                                        <span class="sr-only">Close</span>
                                                                </span>
                                                        </button>
                                                        <button type="submit" class="btn btn-default" (click)="getSearchData(inputName.value);">
                                                                <span class="glyphicon glyphicon-search">
                                                                        <span class="sr-only">Search</span>
                                                                </span>
                                                        </button>
                                                </span>
                                        </div>
                                </form>
         </div>
         <div class="panel-body">
         <table class="table">
             <thead class="thead-inverse" style="background-color:rgba(144, 218, 135, 0.38)">
                 <tr>
                     <th> <span class="glyphicon glyphicon-stop"></span> </th>
                 <th><span>First name</span></th>
                 <th>Last Name</th>
                 <th>Branch</th>
                 <th>Edit</th>
                 <th>Delete<th>
             </tr>
             </thead>
           <tbody>
               <div *ngIf="searchNotFound" style="color:red;"> <h3>Search Not Found</h3> </div>
               <tr  *ngFor="let d of details  | orderBy: key : reverse | filter: filter: { } | paginate: {itemsPerPage: 10, currentPage:page, id: '1', totalItems: totalCount } ; let i = index " >
                <td> {{ i + 1 }}</td>
                <td>{{d.first_name }}</td>
                <td>{{d.last_name}}</td>
                <td>{{d.branch}}</td>
                <td><button class="glyphicon glyphicon-pencil btn btn-success" type="button" (click)="navigateToUserById(d.id);sendData(d);" ></button></td>
                <td><button class="glyphicon glyphicon-trash btn btn-danger" (click)="staticModal.show();setId(d.id)"></button></td>
              <!--  <td><button class="glyphicon glyphicon-trash btn btn-danger" (click)="delete_record(d.id);"></button></td>               -->
               </tr>
           </tbody>
         </table>
                <pagination-controls (pageChange)="page = setPageNumber($event);" id="1"
                      maxSize="10"
                      directionLinks="true"
                      autoHide="false"
                      >
                </pagination-controls>`
     </div>
     <div>
     </div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are You Sure you want to Delete ?
          <br><br>
          <button type="button" class="btn btn-primary" style="width: 30%;" (click)="staticModal.hide();"> Cancel</button>
          <button type="button" class="btn btn-danger" style="width: 30%;margin-left: 30%;" (click)="delete_record(deleteRecordId);"> Yes</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="">
  <div class="container">
      <div class="row text-center" style="font-family: cursive; padding-top: 15px;"> © 2017. Made with Amazatic Solutions by Raj</div>
  </div>
</nav>
